*{
  font-family: roboto;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url('/../../public/fonts/Roboto-Regular.ttf');
}

body{
  min-height: 100vh;
}

.header{
  width: 100%;
  text-align: center;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  padding-top: 1%;
  padding-bottom: 1%;
}

.header img{
  height: 15%;
}

.underHeader{
  background: linear-gradient(180deg, rgba(0, 120, 0, 0.65), rgba(0, 120, 0, 0.4));
  padding: 1%;
}

.underHeader h3{
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.content{
  padding: 2%;
}

table#itemsTable{
  margin-top: 5%;
  width: 100%;
  outline: 2px solid rgba(0, 120, 0, 0.65);
}

#itemsTable th{
  padding: 0.5%;
  outline: 2px solid rgba(0, 120, 0, 0.4);
}

#itemsTable th:nth-child(1){
  width: 84%;
}

#itemsTable th:nth-child(2){
  width: 8%;
}

#itemsTable th:nth-child(3){
  width: 8%;
}

#itemsTable tr:nth-child(odd){
  background: rgba(0, 120, 0, 0.3);
}

#itemsTable tr:nth-child(even){
  background: rgba(0, 120, 0, 0.2);
}

#itemsTable tr:nth-child(1){
  background: rgba(0, 100, 0, 0.4);
}

#itemsTable tr:nth-last-child(1){
  background: rgba(0, 100, 0, 0.75);
  color: #fff;
}

#itemsTable .desc{
  padding: 2%;
}

#itemsTable .desc h3{
  font-weight: bold;
}

.price{
  text-align: left;
  padding-left: 5%;
}

.footer{
  background: linear-gradient(180deg, rgba(0, 120, 0, 0.4), rgba(0, 120, 0, 0.2));
  padding: 10px;
  bottom: 0;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}
